body {

    margin: 0;
    background-color: rgb(253, 253, 245);
    width: 100%;
    font-family: B Koodak;
    margin: auto;

}

#div-1 {

    background-color: white;
    border-bottom: 1px solid rgb(199, 199, 199)
}

#div-2 {

    width: 49%;
    color: rgb(179, 147, 109);
    font-size: 50px;
    text-align: right;
    display: inline-block;

}

#span-1 {

    margin-right: 80px;

}

#div-3 {

    font-size: 20px;
    display: inline-block;
    color: rgb(48, 51, 56);
    text-align: left;
    width: 49%;

}

a {

    margin-left: 40px;
    color: black;

}

#div-4 {

    background-color: rgb(179, 147, 109);
    width: 98%;
    height: 450px;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    margin-top: 30px;
    padding: 10px;

}

#span-2 {

    color: rgb(255, 255, 255);
    font-size: 70px;

}

#span-3 {

    color: rgb(255, 255, 255);
    font-size: 20px;

}

#div-5 {

    background-color: white;
    border-radius: 30px;
    color: rgb(179, 147, 109);
    font-size: 20px;
    width: 150px;
    height: 50px;
    margin: auto;
    padding-top: 10px;

}

#div-6 {

    color: rgb(179, 147, 109);
    text-align: center;
    font-size: 50px;
    margin-top: 100px;

}

#div-7 {

    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 25px;

}

#div-8 {

    background-color: white;
    border-top-left-radius: 20px;
    border: 1px solid gray;
    width: 300px;
    border-top-right-radius: 20px;
    height: 300px;

}

img {

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 300px;

}

#div-9 {

    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom: 1px solid gray;
    width: 300px;
    height: 150px;
    border-bottom-right-radius: 20px;
    text-align: center;
    color: rgb(179, 147, 109);
    font-size: 30px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;

}

#span-4 {

    font-size: 18px;
    color: gray;

}

#div-as {

    display: inline-block;
    margin: 25px;

}

#div-as1 {

    display: inline-block;
    margin: 25px;

}

#div-10 {

    background-color: white;
    border-top-left-radius: 20px;
    border: 1px solid gray;
    width: 300px;
    border-top-right-radius: 20px;
    height: 300px;

}

#div-11 {

    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom: 1px solid gray;
    width: 300px;
    border-bottom-right-radius: 20px;
    height: 150px;
    text-align: center;
    font-size: 30px;
    color: rgb(179, 147, 109);
    border-left: 1px solid gray;
    border-right: 1px solid gray;

}

#span-5 {

    font-size: 18px;
    color: gray;

}

#div-12 {

    width: 100%;
    text-align: center;

}

#div-as2 {

    display: inline-block;
    margin: 25px
}

#div-13 {

    background-color: white;
    border-top-left-radius: 20px;
    border: 1px solid gray;
    width: 300px;
    border-top-right-radius: 20px;
    height: 300px;

}

#div-14 {

    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom: 1px solid gray;
    width: 300px;
    border-bottom-right-radius: 20px;
    height: 150px;
    text-align: center;
    font-size: 30px;
    color: rgb(179, 147, 109);
    border-left: 1px solid gray;
    border-right: 1px solid gray;

}

#span-6 {

    font-size: 18px;
    color: gray;

}

#div-20 {

    margin-right: 700px;

}

#span-10 {

    color: rgb(179, 147, 109);
    font-size: 50px;

}

#span-11 {

    color: gray;
    font-size: 18px;

}

#div-footer {

    background-color: rgb(51, 51, 51);
    color: rgb(148, 148, 148);
    margin: auto;
    text-align: center;
    margin-top: 200px;
    padding: 50px;
    font-size: 15px;

}